<div class="bg-black">
    <header class="container max-w-6xl mx-auto py-10 flex justify-around items-center">
        <h1 class="font-sans text-3xl md:text-4xl text-white tracking-wide font-bold">First<span class="text-gray-400">Clients</span></h1>
        <ul class="flex items-center">
            <li class="font-serif text-xl md:text-2xl text-gray-200 mr-10  border-b-2 border-gray-200">
                <a routerLink="/homepage">HomePage</a>
            </li>
            <li class="font-serif text-xl md:text-2xl text-gray-200 mr-10  border-b-2 border-gray-200">
                <a routerLink="/create">Create</a>
            </li>
            <li class="font-serif text-xl md:text-2xl text-gray-200  border-b-2 border-gray-200">
                <a routerLink="/clients">Clients</a>
            </li>
        </ul>
    </header>
</div>