<div class="container max-w-4xl mx-auto px-10">
    <div class="show ">
        <div class="flex flex-col">
            <h1 class="font-serif text-4xl md:text-6xl pb-4">FirstClients,  is an Asp.net Core WebApi and <span>Angular</span> fullstack App..</h1>
            <p class="font-serif text-xl md:text-2xl pb-4 text-gray-500">Lorem ipsum,i dolorum similique ipsa inventore. Alias consequatur deleniti distinctio?</p>
            <div class="flex gap-5">
                <a class="font-sans shadow-xl text-xl bg-red-600 py-3 px-10 text-white">
                    <a routerLink="/clients">Clients</a>
                </a>
                <a class="font-sans shadow-xl text-xl bg-red-600 py-3 px-10 text-white">
                    <a routerLink="/about">About</a>
                </a>
            </div>
        </div>
    </div>
</div>